# Default ignored files
/shelf/
/workspace.xml
/.idea
.idea
# Datasource local storage ignored files
/../../../../../:\Projekte\Paradoxinum\Go_FuturesAndPromises\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

